$space-0: 0px !default;
$space-1: 1px !default;
$space-2: 2px !default;
$space-3: 3px !default;
$space-4: 4px !default;
$space-5: 5px !default;
$space-6: 6px !default;
$space-7: 7px !default;
$space-8: 8px !default;
$space-9: 9px !default;
$space-10: 10px !default;
$space-11: 11px !default;
$space-12: 12px !default;
$space-13: 13px !default;
$space-14: 14px !default;
$space-15: 15px !default;
$space-16: 16px !default;
$space-17: 17px !default;
$space-18: 18px !default;
$space-19: 19px !default;
$space-20: 20px !default;
$space-21: 21px !default;
$space-22: 22px !default;
$space-23: 23px !default;
$space-24: 24px !default;
$space-25: 25px !default;
$space-26: 26px !default;
$space-27: 27px !default;
$space-28: 28px !default;
$space-29: 29px !default;
$space-30: 30px !default;
$space-31: 31px !default;
$space-32: 32px !default;
$space-33: 33px !default;
$space-34: 34px !default;
$space-35: 35px !default;
$space-36: 36px !default;
$space-37: 37px !default;
$space-38: 38px !default;
$space-39: 39px !default;
$space-40: 40px !default;
$space-41: 41px !default;
$space-42: 42px !default;
$space-43: 43px !default;
$space-44: 44px !default;
$space-45: 45px !default;
$space-46: 46px !default;
$space-47: 47px !default;
$space-48: 48px !default;
$space-49: 49px !default;
$space-50: 50px !default;
$space-51: 51px !default;
$space-52: 52px !default;
$space-53: 53px !default;
$space-54: 54px !default;
$space-55: 55px !default;
$space-56: 56px !default;
$space-57: 57px !default;
$space-58: 58px !default;
$space-59: 59px !default;
$space-60: 60px !default;
$space-65: 65px !default;
$space-70: 70px !default;
$space-75: 75px !default;
$space-80: 80px !default;
$space-85: 85px !default;
$space-90: 90px !default;
$space-95: 95px !default;
$space-100: 100px !default;
$space-105: 105px !default;
$space-110: 110px !default;
$space-115: 115px !default;
$space-120: 120px !default;

$base-spacing: $space-8 !default;
$space-xxs: $base-spacing / 8 !default;
$space-xs: $base-spacing / 4 !default;
$space-sm: $base-spacing / 2 !default;
$space-md: $base-spacing !default;
$space-lg: $base-spacing * 2 !default;
$space-xl: $base-spacing * 4 !default;
$space-xxl: $base-spacing * 8 !default;

