@use 'spacing.variables' as spaces;

$px-spacings: (
  '0': spaces.$space-0,
  '1': spaces.$space-1,
  '2': spaces.$space-2,
  '3': spaces.$space-3,
  '4': spaces.$space-4,
  '5': spaces.$space-5,
  '6': spaces.$space-6,
  '7': spaces.$space-7,
  '8': spaces.$space-8,
  '9': spaces.$space-9,
  '10': spaces.$space-10,
  '11': spaces.$space-11,
  '12': spaces.$space-12,
  '13': spaces.$space-13,
  '14': spaces.$space-14,
  '15': spaces.$space-15,
  '16': spaces.$space-16,
  '17': spaces.$space-17,
  '18': spaces.$space-18,
  '19': spaces.$space-19,
  '20': spaces.$space-20,
  '21': spaces.$space-21,
  '22': spaces.$space-22,
  '23': spaces.$space-23,
  '24': spaces.$space-24,
  '25': spaces.$space-25,
  '26': spaces.$space-26,
  '27': spaces.$space-27,
  '28': spaces.$space-28,
  '29': spaces.$space-29,
  '30': spaces.$space-30,
  '31': spaces.$space-31,
  '32': spaces.$space-32,
  '33': spaces.$space-33,
  '34': spaces.$space-34,
  '35': spaces.$space-35,
  '36': spaces.$space-36,
  '37': spaces.$space-37,
  '38': spaces.$space-38,
  '39': spaces.$space-39,
  '40': spaces.$space-40,
  '41': spaces.$space-41,
  '42': spaces.$space-42,
  '43': spaces.$space-43,
  '44': spaces.$space-44,
  '45': spaces.$space-45,
  '46': spaces.$space-46,
  '47': spaces.$space-47,
  '48': spaces.$space-48,
  '49': spaces.$space-49,
  '50': spaces.$space-50,
  '51': spaces.$space-51,
  '52': spaces.$space-52,
  '53': spaces.$space-53,
  '54': spaces.$space-54,
  '55': spaces.$space-55,
  '56': spaces.$space-56,
  '57': spaces.$space-57,
  '58': spaces.$space-58,
  '59': spaces.$space-59,
  '60': spaces.$space-60,
  '65': spaces.$space-65,
  '70': spaces.$space-70,
  '75': spaces.$space-75,
  '80': spaces.$space-80,
  '85': spaces.$space-85,
  '90': spaces.$space-90,
  '95': spaces.$space-95,
  '100': spaces.$space-100,
  '105': spaces.$space-105,
  '110': spaces.$space-110,
  '115': spaces.$space-115,
  '120': spaces.$space-120,
);

$relative-spaces: (
  'xxs': spaces.$space-xxs,
  'xs': spaces.$space-xs,
  'sm': spaces.$space-sm,
  'md': spaces.$space-md,
  'lg': spaces.$space-lg,
  'xl': spaces.$space-xl,
  'xxl': spaces.$space-xxl,
);

$spaces: (
  'px': $px-spacings,
  'relative': $relative-spaces,
)
