$breakpoint-xs: 599px !default;
$breakpoint-sm: 1023px !default;
$breakpoint-md: 1439px !default;
$breakpoint-lg: 1919px !default;

$col-1: 8.333333% !default;
$col-2: 16.666667% !default;
$col-3: 25% !default;
$col-4: 33.333333% !default;
$col-5: 41.666667% !default;
$col-6: 50% !default;
$col-7: 58.333333% !default;
$col-8: 66.666667% !default;
$col-9: 75% !default;
$col-10: 83.333333% !default;
$col-11: 91.666667% !default;
$col-12: 100% !default;
