@use 'flexbox.arrays' as flexArrays;

.flex {
  display: flex;
  flex-wrap: wrap;
}
.row {
  @extend .flex;
  flex-direction: row;
}
.column {
  @extend .flex;
  flex-direction: column;
}

.full-width {
  width: 100% !important;
}
.full-height {
  height: 100% !important;
}
.fit {
  @extend .full-width;
  @extend .full-height;
}

.col {
  flex: 10000 1 0;
}
.col-auto {
  flex: 0 0 auto;
}

@each $col, $value in flexArrays.$cols {
  .row {
    .col-#{$col} {
      height: auto;
      width: $value;
    }
  }
  .column {
    height: $value;
    width: auto;
  }
}

@each $breakpoint, $br-value in flexArrays.$breakpoints {
  @media (min-width: $br-value) {
    @each $col, $value in flexArrays.$cols {
      .row {
        .col-#{$col} {
          height: auto;
          width: $value;
        }
      }
      .column {
        .col-#{$col} {
          height: $value;
          width: auto;
        }
      }
    }
  }
}

.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}

.items-center {
  align-items: center;
}
.items-start {
  align-items: flex-start;
}
.items-end {
  align-items: flex-end;
}

