@use 'colors.variables' as colors;

$blacks: (
  'black': colors.$black,
  'charcoal': colors.$charcoal,
  'dark-green': colors.$dark-green,
  'deep-purple': colors.$deep-purple,
  'jet-black': colors.$jet-black,
  'licorice': colors.$licorice,
  'matte-black': colors.$matte-black,
  'midnight-blue': colors.$midnight-blue,
  'onyx': colors.$onyx,
);

$blues: (
  'aqua': colors.$aqua,
  'azure': colors.$azure,
  'baby-blue': colors.$baby-blue,
  'blue': colors.$blue,
  'blue-grey': colors.$blue-grey,
  'blue-green': colors.$blue-green,
  'bright-blue': colors.$bright-blue,
  'cade-blue': colors.$cade-blue,
  'cobalt-blue': colors.$cobalt-blue,
  'cornflower-blue': colors.$cornflower-blue,
  'cyan': colors.$cyan,
  'dark-blue': colors.$dark-blue,
  'denim': colors.$denim,
  'egyptian-blue': colors.$egyptian-blue,
  'electric-blue': colors.$electric-blue,
  'glaucous': colors.$glaucous,
  'jade': colors.$jade,
  'indigo': colors.$indigo,
  'iris': colors.$iris,
  'light-blue': colors.$light-blue,
  'midnight-blue': colors.$midnight-blue,
  'navy-blue': colors.$navy-blue,
  'neon-blue': colors.$neon-blue,
  'pastel-blue': colors.$pastel-blue,
  'perinwinke': colors.$perinwinke,
  'powder-blue': colors.$powder-blue,
  'robin-egg-blue': colors.$robin-egg-blue,
  'royal-blue': colors.$royal-blue,
  'sapphire-blue': colors.$sapphire-blue,
  'sea-foam-green': colors.$sea-foam-green,
  'sky-blue': colors.$sky-blue,
  'steel-blue': colors.$steel-blue,
  'teal': colors.$teal,
  'turqoise': colors.$turqoise,
  'ultramarine': colors.$ultramarine,
  'verdigis': colors.$verdigis,
  'zaffre': colors.$zaffre,
);

$browns: (
  'almond': colors.$almond,
  'brass': colors.$brass,
  'bronze': colors.$bronze,
  'brown': colors.$brown,
  'buff': colors.$buff,
  'burgundy': colors.$burgundy,
  'burnt-sienna': colors.$burnt-sienna,
  'burnt-umber': colors.$burnt-umber,
  'camel': colors.$camel,
  'chestnut': colors.$chestnut,
  'chocolate': colors.$chocolate,
  'cinnamon': colors.$cinnamon,
  'coffee': colors.$coffee,
  'cognac': colors.$cognac,
  'copper': colors.$copper,
  'cordovan': colors.$cordovan,
  'dark-brown': colors.$dark-brown,
  'dark-red': colors.$dark-red,
  'dark-tan': colors.$dark-tan,
  'ecru': colors.$ecru,
  'fallow': colors.$fallow,
  'fawn': colors.$fawn,
  'garnet': colors.$garnet,
  'golden-brown': colors.$golden-brown,
  'khaki': colors.$khaki,
  'light-brown': colors.$light-brown,
  'mahogany': colors.$mahogany,
  'maroon': colors.$maroon,
  'mocha': colors.$mocha,
  'nude': colors.$nude,
  'ochre': colors.$ochre,
  'olive-green': colors.$olive-green,
  'oxblood': colors.$oxblood,
  'puce': colors.$puce,
  'red-brown': colors.$red-brown,
  'red-ochre': colors.$red-ochre,
  'russet': colors.$russet,
  'saddle-brown': colors.$saddle-brown,
  'sand': colors.$sand,
  'sienna': colors.$sienna,
  'tan': colors.$tan,
  'taupe': colors.$taupe,
  'tuscan-red': colors.$tuscan-red,
  'wheat': colors.$wheat,
  'wine': colors.$wine,
);

$grays: (
  'ash-gray': colors.$ash-gray,
  'blue-gray': colors.$blue-gray,
  'charcoal': colors.$charcoal,
  'dark-gray': colors.$dark-gray,
  'glaucous': colors.$glaucous,
  'gray': colors.$gray,
  'gunmetal-gray': colors.$gunmetal-gray,
  'light-gray': colors.$light-gray,
  'pewter': colors.$pewter,
  'platinum': colors.$platinum,
  'sage-green': colors.$sage-green,
  'silver': colors.$silver,
  'slate-gray': colors.$slate-gray,
  'smoke': colors.$smoke,
  'steel-gray': colors.$steel-gray,
);

$greens: (
  'aqua': colors.$aqua,
  'aquamarine': colors.$aquamarine,
  'army-green': colors.$army-green,
  'blue-green': colors.$blue-green,
  'bright-green': colors.$bright-green,
  'cadet-blue': colors.$cadet-blue,
  'cadmium-green': colors.$cadmium-green,
  'celadon': colors.$celadon,
  'chartreuse': colors.$chartreuse,
  'citrine': colors.$citrine,
  'cyan': colors.$cyan,
  'dark-green': colors.$dark-green,
  'electric-blue': colors.$electric-blue,
  'emerald-green': colors.$emerald-green,
  'eucalyptus': colors.$eucalyptus,
  'fern-green': colors.$fern-green,
  'forest-green': colors.$forest-green,
  'grass-green': colors.$grass-green,
  'green': colors.$green,
  'hunter-green': colors.$hunter-green,
  'jade': colors.$jade,
  'jungle-green': colors.$jungle-green,
  'kelly-green': colors.$kelly-green,
  'light-green': colors.$light-green,
  'lime-green': colors.$lime-green,
  'lincoln-green': colors.$lincoln-green,
  'malachite': colors.$malachite,
  'mint-green': colors.$mint-green,
  'moss-green': colors.$moss-green,
  'neon-green': colors.$neon-green,
  'nyanza': colors.$nyanza,
  'olive-green': colors.$olive-green,
  'pastel-green': colors.$pastel-green,
  'pear': colors.$pear,
  'peridot': colors.$peridot,
  'pistachio': colors.$pistachio,
  'robbin-egg-blue': colors.$robbin-egg-blue,
  'sage-green': colors.$sage-green,
  'sea-green': colors.$sea-green,
  'sea-foam-green': colors.$sea-foam-green,
  'shamrock-green': colors.$shamrock-green,
  'spring-green': colors.$spring-green,
  'teal': colors.$teal,
  'turquoise': colors.$turquoise,
  'vegas-gold': colors.$vegas-gold,
  'verdigris': colors.$verdigris,
  'viridian': colors.$viridian,
);

$oranges: (
  'amber': colors.$amber,
  'apricot': colors.$apricot,
  'bisque': colors.$bisque,
  'bright-orange': colors.$bright-orange,
  'bronze': colors.$bronze,
  'buff': colors.$buff,
  'burnt-orange': colors.$burnt-orange,
  'burnt-sienna': colors.$burnt-sienna,
  'butterscotch': colors.$butterscotch,
  'cadmium-orange': colors.$cadmium-orange,
  'cinnamon': colors.$cinnamon,
  'copper': colors.$copper,
  'coral': colors.$coral,
  'coral-pink': colors.$coral-pink,
  'dark-orange': colors.$dark-orange,
  'desert': colors.$desert,
  'gamboge': colors.$gamboge,
  'golden-yellow': colors.$golden-yellow,
  'goldenrod': colors.$goldenrod,
  'light-orange': colors.$light-orange,
  'mahogany': colors.$mahogany,
  'mango': colors.$mango,
  'navajo-white': colors.$navajo-white,
  'neon-orange': colors.$neon-orange,
  'ochre': colors.$ochre,
  'orange': colors.$orange,
  'pastel-orange': colors.$pastel-orange,
  'peach': colors.$peach,
  'persimmon': colors.$persimmon,
  'pink-orange': colors.$pink-orange,
  'poppy': colors.$poppy,
  'pumpkin-orange': colors.$pumpkin-orange,
  'red-orange': colors.$red-orange,
  'safety-orange': colors.$safety-orange,
  'salmon': colors.$salmon,
  'seashell': colors.$seashell,
  'sienna': colors.$sienna,
  'sunset-orange': colors.$sunset-orange,
  'tangerine': colors.$tangerine,
  'terra-cotta': colors.$terra-cotta,
  'yellow-orange': colors.$yellow-orange,
);

$pinks: (
  'amaranth': colors.$amaranth,
  'bisque': colors.$bisque,
  'cerise': colors.$cerise,
  'claret': colors.$claret,
  'coral': colors.$coral,
  'coral-pink': colors.$coral-pink,
  'crimson': colors.$crimson,
  'dark-pink': colors.$dark-pink,
  'dusty-rose': colors.$dusty-rose,
  'fuchsia': colors.$fuchsia,
  'hot-pink': colors.$hot-pink,
  'light-pink': colors.$light-pink,
  'magenta': colors.$magenta,
  'millennial-pink': colors.$millennial-pink,
  'mulberry': colors.$mulberry,
  'neon-pink': colors.$neon-pink,
  'orchid': colors.$orchid,
  'pastel-pink': colors.$pastel-pink,
  'pastel-red': colors.$pastel-red,
  'pink': colors.$pink,
  'pink-orange': colors.$pink-orange,
  'plum': colors.$plum,
  'puce': colors.$puce,
  'purple': colors.$purple,
  'raspberry': colors.$raspberry,
  'red-purple': colors.$red-purple,
  'rose': colors.$rose,
  'rose-gold': colors.$rose-gold,
  'rose-red': colors.$rose-red,
  'ruby-red': colors.$ruby-red,
  'salmon': colors.$salmon,
  'seashell': colors.$seashell,
  'thistle': colors.$thistle,
  'watermelon-pink': colors.$watermelon-pink,
);

$purples: (
  'amaranth': colors.$amaranth,
  'bright-purple': colors.$bright-purple,
  'burgundy': colors.$burgundy,
  'byzantium': colors.$byzantium,
  'dark-pink': colors.$dark-pink,
  'dark-purple': colors.$dark-purple,
  'eggplant': colors.$eggplant,
  'iris': colors.$iris,
  'lavender': colors.$lavender,
  'light-purple': colors.$light-purple,
  'light-violet': colors.$light-violet,
  'lilac': colors.$lilac,
  'mauve': colors.$mauve,
  'mauve-taupe': colors.$mauve-taupe,
  'mulberry': colors.$mulberry,
  'orchid': colors.$orchid,
  'pastel-purple': colors.$pastel-purple,
  'periwinkle': colors.$periwinkle,
  'plum': colors.$plum,
  'puce': colors.$puce,
  'purple': colors.$purple,
  'quartz': colors.$quartz,
  'red-purple': colors.$red-purple,
  'thistle': colors.$thistle,
  'tyrian-purple': colors.$tyrian-purple,
  'violet': colors.$violet,
  'wine': colors.$wine,
  'wisteria': colors.$wisteria,
);

$reds: (
  'blood-red': colors.$blood-red,
  'brick-red': colors.$brick-red,
  'bright-red': colors.$bright-red,
  'brown': colors.$brown,
  'burgundy': colors.$burgundy,
  'burnt-umber': colors.$burnt-umber,
  'burnt-orange': colors.$burnt-orange,
  'burnt-sienna': colors.$burnt-sienna,
  'byzantium': colors.$byzantium,
  'cadmium-red': colors.$cadmium-red,
  'cardinal-red': colors.$cardinal-red,
  'carmine': colors.$carmine,
  'cerise': colors.$cerise,
  'cherry': colors.$cherry,
  'chestnut': colors.$chestnut,
  'claret': colors.$claret,
  'coral-pink': colors.$coral-pink,
  'cordovan': colors.$cordovan,
  'crimson': colors.$crimson,
  'dark-red': colors.$dark-red,
  'falu-red': colors.$falu-red,
  'garnet': colors.$garnet,
  'mahogany': colors.$mahogany,
  'maroon': colors.$maroon,
  'marsala': colors.$marsala,
  'mulberry': colors.$mulberry,
  'neon-red': colors.$neon-red,
  'oxblood': colors.$oxblood,
  'pastel-red': colors.$pastel-red,
  'persimmon': colors.$persimmon,
  'poppy': colors.$poppy,
  'puce': colors.$puce,
  'raspberry': colors.$raspberry,
  'red': colors.$red,
  'red-brown': colors.$red-brown,
  'red-ochre': colors.$red-ochre,
  'red-orange': colors.$red-orange,
  'red-purple': colors.$red-purple,
  'rose-red': colors.$rose-red,
  'ruby-red': colors.$ruby-red,
  'russet': colors.$russet,
  'salmon': colors.$salmon,
  'scarlet': colors.$scarlet,
  'sunset-orange': colors.$sunset-orange,
  'terra-cotta': colors.$terra-cotta,
  'tuscan-red': colors.$tuscan-red,
  'tyrian-purple': colors.$tyrian-purple,
  'venetian-red': colors.$venetian-red,
  'vermilion': colors.$vermilion,
  'wine': colors.$wine,
);

$whites: (
  'alabaster': colors.$alabaster,
  'beige': colors.$beige,
  'bone-white': colors.$bone-white,
  'cornsilk': colors.$cornsilk,
  'cream': colors.$cream,
  'eggshell': colors.$eggshell,
  'ivory': colors.$ivory,
  'linen': colors.$linen,
  'navajo-white': colors.$navajo-white,
  'off-white': colors.$off-white,
  'parchment': colors.$parchment,
  'peach': colors.$peach,
  'pearl': colors.$pearl,
  'seashell': colors.$seashell,
  'vanilla': colors.$vanilla,
  'white': colors.$white,
);

$yellows: (
  'almond': colors.$almond,
  'amber': colors.$amber,
  'apricot': colors.$apricot,
  'beige': colors.$beige,
  'brass': colors.$brass,
  'bright-yellow': colors.$bright-yellow,
  'cadmium-yellow': colors.$cadmium-yellow,
  'canary-yellow': colors.$canary-yellow,
  'chartreuse': colors.$chartreuse,
  'citrine': colors.$citrine,
  'cornsilk': colors.$cornsilk,
  'cream': colors.$cream,
  'dark-yellow': colors.$dark-yellow,
  'desert': colors.$desert,
  'ecru': colors.$ecru,
  'flax': colors.$flax,
  'gamboge': colors.$gamboge,
  'gold': colors.$gold,
  'golden-yellow': colors.$golden-yellow,
  'goldenrod': colors.$goldenrod,
  'icterine': colors.$icterine,
  'ivory': colors.$ivory,
  'jasmine': colors.$jasmine,
  'khaki': colors.$khaki,
  'lemon-yellow': colors.$lemon-yellow,
  'maize': colors.$maize,
  'mango': colors.$mango,
  'mustard-yellow': colors.$mustard-yellow,
  'naples-yellow': colors.$naples-yellow,
  'navajo-white': colors.$navajo-white,
  'nyanza': colors.$nyanza,
  'pastel-yellow': colors.$pastel-yellow,
  'peach': colors.$peach,
  'pear': colors.$pear,
  'peridot': colors.$peridot,
  'pistachio': colors.$pistachio,
  'saffron': colors.$saffron,
  'vanilla': colors.$vanilla,
  'vegas-gold': colors.$vegas-gold,
  'wheat': colors.$wheat,
  'yellow': colors.$yellow,
  'yellow-orange': colors.$yellow-orange,
);

$colors: (
  'blacks': $blacks,
  'blues': $blues,
  'browns': $browns,
  'grays': $grays,
  'greens': $greens,
  'oranges': $oranges,
  'pinks': $pinks,
  'purples': $purples,
  'reds': $reds,
  'whites': $whites,
)
