.bg-black {
  background-color: #000000;
}

.fg-black {
  color: #000000;
}

.bg-charcoal {
  background-color: #36454F;
}

.fg-charcoal {
  color: #36454F;
}

.bg-dark-green {
  background-color: #023020;
}

.fg-dark-green {
  color: #023020;
}

.bg-deep-purple {
  background-color: #301934;
}

.fg-deep-purple {
  color: #301934;
}

.bg-jet-black {
  background-color: #343434;
}

.fg-jet-black {
  color: #343434;
}

.bg-licorice {
  background-color: #1B1212;
}

.fg-licorice {
  color: #1B1212;
}

.bg-matte-black {
  background-color: #28282B;
}

.fg-matte-black {
  color: #28282B;
}

.bg-midnight-blue {
  background-color: #191970;
}

.fg-midnight-blue {
  color: #191970;
}

.bg-onyx {
  background-color: #353935;
}

.fg-onyx {
  color: #353935;
}

.bg-aqua {
  background-color: #00FFFF;
}

.fg-aqua {
  color: #00FFFF;
}

.bg-azure {
  background-color: #F0FFFF;
}

.fg-azure {
  color: #F0FFFF;
}

.bg-baby-blue {
  background-color: #89CFF0;
}

.fg-baby-blue {
  color: #89CFF0;
}

.bg-blue {
  background-color: #0000FF;
}

.fg-blue {
  color: #0000FF;
}

.bg-blue-grey {
  background-color: #7393B3;
}

.fg-blue-grey {
  color: #7393B3;
}

.bg-blue-green {
  background-color: #088F8F;
}

.fg-blue-green {
  color: #088F8F;
}

.bg-bright-blue {
  background-color: #0096FF;
}

.fg-bright-blue {
  color: #0096FF;
}

.bg-cade-blue {
  background-color: #5F9EA0;
}

.fg-cade-blue {
  color: #5F9EA0;
}

.bg-cobalt-blue {
  background-color: #0047AB;
}

.fg-cobalt-blue {
  color: #0047AB;
}

.bg-cornflower-blue {
  background-color: #6495ED;
}

.fg-cornflower-blue {
  color: #6495ED;
}

.bg-cyan {
  background-color: #00FFFF;
}

.fg-cyan {
  color: #00FFFF;
}

.bg-dark-blue {
  background-color: #00008B;
}

.fg-dark-blue {
  color: #00008B;
}

.bg-denim {
  background-color: #6F8FAF;
}

.fg-denim {
  color: #6F8FAF;
}

.bg-egyptian-blue {
  background-color: #1434A4;
}

.fg-egyptian-blue {
  color: #1434A4;
}

.bg-electric-blue {
  background-color: #7DF9FF;
}

.fg-electric-blue {
  color: #7DF9FF;
}

.bg-glaucous {
  background-color: #6082B6;
}

.fg-glaucous {
  color: #6082B6;
}

.bg-jade {
  background-color: #00A36C;
}

.fg-jade {
  color: #00A36C;
}

.bg-indigo {
  background-color: #3F00FF;
}

.fg-indigo {
  color: #3F00FF;
}

.bg-iris {
  background-color: #5D3FD3;
}

.fg-iris {
  color: #5D3FD3;
}

.bg-light-blue {
  background-color: #ADD8E6;
}

.fg-light-blue {
  color: #ADD8E6;
}

.bg-midnight-blue {
  background-color: #191970;
}

.fg-midnight-blue {
  color: #191970;
}

.bg-navy-blue {
  background-color: #000080;
}

.fg-navy-blue {
  color: #000080;
}

.bg-neon-blue {
  background-color: #1F51FF;
}

.fg-neon-blue {
  color: #1F51FF;
}

.bg-pastel-blue {
  background-color: #A7C7E7;
}

.fg-pastel-blue {
  color: #A7C7E7;
}

.bg-perinwinke {
  background-color: #CCCCFF;
}

.fg-perinwinke {
  color: #CCCCFF;
}

.bg-powder-blue {
  background-color: #B6D0E2;
}

.fg-powder-blue {
  color: #B6D0E2;
}

.bg-robin-egg-blue {
  background-color: #96DED1;
}

.fg-robin-egg-blue {
  color: #96DED1;
}

.bg-royal-blue {
  background-color: #4169E1;
}

.fg-royal-blue {
  color: #4169E1;
}

.bg-sapphire-blue {
  background-color: #0F52BA;
}

.fg-sapphire-blue {
  color: #0F52BA;
}

.bg-sea-foam-green {
  background-color: #9FE2BF;
}

.fg-sea-foam-green {
  color: #9FE2BF;
}

.bg-sky-blue {
  background-color: #87CEEB;
}

.fg-sky-blue {
  color: #87CEEB;
}

.bg-steel-blue {
  background-color: #4682B4;
}

.fg-steel-blue {
  color: #4682B4;
}

.bg-teal {
  background-color: #008080;
}

.fg-teal {
  color: #008080;
}

.bg-turqoise {
  background-color: #40E0D0;
}

.fg-turqoise {
  color: #40E0D0;
}

.bg-ultramarine {
  background-color: #0437F2;
}

.fg-ultramarine {
  color: #0437F2;
}

.bg-verdigis {
  background-color: #40B5AD;
}

.fg-verdigis {
  color: #40B5AD;
}

.bg-zaffre {
  background-color: #0818A8;
}

.fg-zaffre {
  color: #0818A8;
}

.bg-almond {
  background-color: #EADDCA;
}

.fg-almond {
  color: #EADDCA;
}

.bg-brass {
  background-color: #E1C16E;
}

.fg-brass {
  color: #E1C16E;
}

.bg-bronze {
  background-color: #CD7F32;
}

.fg-bronze {
  color: #CD7F32;
}

.bg-brown {
  background-color: #A52A2A;
}

.fg-brown {
  color: #A52A2A;
}

.bg-buff {
  background-color: #DAA06D;
}

.fg-buff {
  color: #DAA06D;
}

.bg-burgundy {
  background-color: #800020;
}

.fg-burgundy {
  color: #800020;
}

.bg-burnt-sienna {
  background-color: #E97451;
}

.fg-burnt-sienna {
  color: #E97451;
}

.bg-burnt-umber {
  background-color: #6E260E;
}

.fg-burnt-umber {
  color: #6E260E;
}

.bg-camel {
  background-color: #C19A6B;
}

.fg-camel {
  color: #C19A6B;
}

.bg-chestnut {
  background-color: #954535;
}

.fg-chestnut {
  color: #954535;
}

.bg-chocolate {
  background-color: #7B3F00;
}

.fg-chocolate {
  color: #7B3F00;
}

.bg-cinnamon {
  background-color: #D27D2D;
}

.fg-cinnamon {
  color: #D27D2D;
}

.bg-coffee {
  background-color: #6F4E37;
}

.fg-coffee {
  color: #6F4E37;
}

.bg-cognac {
  background-color: #834333;
}

.fg-cognac {
  color: #834333;
}

.bg-copper {
  background-color: #B87333;
}

.fg-copper {
  color: #B87333;
}

.bg-cordovan {
  background-color: #814141;
}

.fg-cordovan {
  color: #814141;
}

.bg-dark-brown {
  background-color: #5C4033;
}

.fg-dark-brown {
  color: #5C4033;
}

.bg-dark-red {
  background-color: #8B0000;
}

.fg-dark-red {
  color: #8B0000;
}

.bg-dark-tan {
  background-color: #988558;
}

.fg-dark-tan {
  color: #988558;
}

.bg-ecru {
  background-color: #C2B280;
}

.fg-ecru {
  color: #C2B280;
}

.bg-fallow {
  background-color: #C19A6B;
}

.fg-fallow {
  color: #C19A6B;
}

.bg-fawn {
  background-color: #E5AA70;
}

.fg-fawn {
  color: #E5AA70;
}

.bg-garnet {
  background-color: #9A2A2A;
}

.fg-garnet {
  color: #9A2A2A;
}

.bg-golden-brown {
  background-color: #966919;
}

.fg-golden-brown {
  color: #966919;
}

.bg-khaki {
  background-color: #F0E68C;
}

.fg-khaki {
  color: #F0E68C;
}

.bg-light-brown {
  background-color: #C4A484;
}

.fg-light-brown {
  color: #C4A484;
}

.bg-mahogany {
  background-color: #C04000;
}

.fg-mahogany {
  color: #C04000;
}

.bg-maroon {
  background-color: #800000;
}

.fg-maroon {
  color: #800000;
}

.bg-mocha {
  background-color: #967969;
}

.fg-mocha {
  color: #967969;
}

.bg-nude {
  background-color: #F2D2BD;
}

.fg-nude {
  color: #F2D2BD;
}

.bg-ochre {
  background-color: #CC7722;
}

.fg-ochre {
  color: #CC7722;
}

.bg-olive-green {
  background-color: #808000;
}

.fg-olive-green {
  color: #808000;
}

.bg-oxblood {
  background-color: #4A0404;
}

.fg-oxblood {
  color: #4A0404;
}

.bg-puce {
  background-color: #A95C68;
}

.fg-puce {
  color: #A95C68;
}

.bg-red-brown {
  background-color: #A52A2A;
}

.fg-red-brown {
  color: #A52A2A;
}

.bg-red-ochre {
  background-color: #913831;
}

.fg-red-ochre {
  color: #913831;
}

.bg-russet {
  background-color: #80461B;
}

.fg-russet {
  color: #80461B;
}

.bg-saddle-brown {
  background-color: #8B4513;
}

.fg-saddle-brown {
  color: #8B4513;
}

.bg-sand {
  background-color: #C2B280;
}

.fg-sand {
  color: #C2B280;
}

.bg-sienna {
  background-color: #A0522D;
}

.fg-sienna {
  color: #A0522D;
}

.bg-tan {
  background-color: #D2B48C;
}

.fg-tan {
  color: #D2B48C;
}

.bg-taupe {
  background-color: #483C32;
}

.fg-taupe {
  color: #483C32;
}

.bg-tuscan-red {
  background-color: #7C3030;
}

.fg-tuscan-red {
  color: #7C3030;
}

.bg-wheat {
  background-color: #F5DEB3;
}

.fg-wheat {
  color: #F5DEB3;
}

.bg-wine {
  background-color: #722F37;
}

.fg-wine {
  color: #722F37;
}

.bg-ash-gray {
  background-color: #B2BEB5;
}

.fg-ash-gray {
  color: #B2BEB5;
}

.bg-blue-gray {
  background-color: #7393B3;
}

.fg-blue-gray {
  color: #7393B3;
}

.bg-charcoal {
  background-color: #36454F;
}

.fg-charcoal {
  color: #36454F;
}

.bg-dark-gray {
  background-color: #A9A9A9;
}

.fg-dark-gray {
  color: #A9A9A9;
}

.bg-glaucous {
  background-color: #6082B6;
}

.fg-glaucous {
  color: #6082B6;
}

.bg-gray {
  background-color: #808080;
}

.fg-gray {
  color: #808080;
}

.bg-gunmetal-gray {
  background-color: #818589;
}

.fg-gunmetal-gray {
  color: #818589;
}

.bg-light-gray {
  background-color: #D3D3D3;
}

.fg-light-gray {
  color: #D3D3D3;
}

.bg-pewter {
  background-color: #899499;
}

.fg-pewter {
  color: #899499;
}

.bg-platinum {
  background-color: #E5E4E2;
}

.fg-platinum {
  color: #E5E4E2;
}

.bg-sage-green {
  background-color: #8A9A5B;
}

.fg-sage-green {
  color: #8A9A5B;
}

.bg-silver {
  background-color: #C0C0C0;
}

.fg-silver {
  color: #C0C0C0;
}

.bg-slate-gray {
  background-color: #708090;
}

.fg-slate-gray {
  color: #708090;
}

.bg-smoke {
  background-color: #848884;
}

.fg-smoke {
  color: #848884;
}

.bg-steel-gray {
  background-color: #71797E;
}

.fg-steel-gray {
  color: #71797E;
}

.bg-aqua {
  background-color: #00FFFF;
}

.fg-aqua {
  color: #00FFFF;
}

.bg-aquamarine {
  background-color: #7FFFD4;
}

.fg-aquamarine {
  color: #7FFFD4;
}

.bg-army-green {
  background-color: #454B1B;
}

.fg-army-green {
  color: #454B1B;
}

.bg-blue-green {
  background-color: #088F8F;
}

.fg-blue-green {
  color: #088F8F;
}

.bg-bright-green {
  background-color: #AAFF00;
}

.fg-bright-green {
  color: #AAFF00;
}

.bg-cadet-blue {
  background-color: #5F9EA0;
}

.fg-cadet-blue {
  color: #5F9EA0;
}

.bg-cadmium-green {
  background-color: #097969;
}

.fg-cadmium-green {
  color: #097969;
}

.bg-celadon {
  background-color: #AFE1AF;
}

.fg-celadon {
  color: #AFE1AF;
}

.bg-chartreuse {
  background-color: #DFFF00;
}

.fg-chartreuse {
  color: #DFFF00;
}

.bg-citrine {
  background-color: #E4D00A;
}

.fg-citrine {
  color: #E4D00A;
}

.bg-cyan {
  background-color: #00FFFF;
}

.fg-cyan {
  color: #00FFFF;
}

.bg-dark-green {
  background-color: #023020;
}

.fg-dark-green {
  color: #023020;
}

.bg-electric-blue {
  background-color: #7DF9FF;
}

.fg-electric-blue {
  color: #7DF9FF;
}

.bg-emerald-green {
  background-color: #50C878;
}

.fg-emerald-green {
  color: #50C878;
}

.bg-eucalyptus {
  background-color: #5F8575;
}

.fg-eucalyptus {
  color: #5F8575;
}

.bg-fern-green {
  background-color: #4F7942;
}

.fg-fern-green {
  color: #4F7942;
}

.bg-forest-green {
  background-color: #228B22;
}

.fg-forest-green {
  color: #228B22;
}

.bg-grass-green {
  background-color: #7CFC00;
}

.fg-grass-green {
  color: #7CFC00;
}

.bg-green {
  background-color: #008000;
}

.fg-green {
  color: #008000;
}

.bg-hunter-green {
  background-color: #355E3B;
}

.fg-hunter-green {
  color: #355E3B;
}

.bg-jade {
  background-color: #00A36C;
}

.fg-jade {
  color: #00A36C;
}

.bg-jungle-green {
  background-color: #2AAA8A;
}

.fg-jungle-green {
  color: #2AAA8A;
}

.bg-kelly-green {
  background-color: #4CBB17;
}

.fg-kelly-green {
  color: #4CBB17;
}

.bg-light-green {
  background-color: #90EE90;
}

.fg-light-green {
  color: #90EE90;
}

.bg-lime-green {
  background-color: #32CD32;
}

.fg-lime-green {
  color: #32CD32;
}

.bg-lincoln-green {
  background-color: #478778;
}

.fg-lincoln-green {
  color: #478778;
}

.bg-malachite {
  background-color: #0BDA51;
}

.fg-malachite {
  color: #0BDA51;
}

.bg-mint-green {
  background-color: #98FB98;
}

.fg-mint-green {
  color: #98FB98;
}

.bg-moss-green {
  background-color: #8A9A5B;
}

.fg-moss-green {
  color: #8A9A5B;
}

.bg-neon-green {
  background-color: #0FFF50;
}

.fg-neon-green {
  color: #0FFF50;
}

.bg-nyanza {
  background-color: #ECFFDC;
}

.fg-nyanza {
  color: #ECFFDC;
}

.bg-olive-green {
  background-color: #808000;
}

.fg-olive-green {
  color: #808000;
}

.bg-pastel-green {
  background-color: #C1E1C1;
}

.fg-pastel-green {
  color: #C1E1C1;
}

.bg-pear {
  background-color: #C9CC3F;
}

.fg-pear {
  color: #C9CC3F;
}

.bg-peridot {
  background-color: #B4C424;
}

.fg-peridot {
  color: #B4C424;
}

.bg-pistachio {
  background-color: #93C572;
}

.fg-pistachio {
  color: #93C572;
}

.bg-robbin-egg-blue {
  background-color: #96DED1;
}

.fg-robbin-egg-blue {
  color: #96DED1;
}

.bg-sage-green {
  background-color: #8A9A5B;
}

.fg-sage-green {
  color: #8A9A5B;
}

.bg-sea-green {
  background-color: #2E8B57;
}

.fg-sea-green {
  color: #2E8B57;
}

.bg-sea-foam-green {
  background-color: #9FE2BF;
}

.fg-sea-foam-green {
  color: #9FE2BF;
}

.bg-shamrock-green {
  background-color: #009E60;
}

.fg-shamrock-green {
  color: #009E60;
}

.bg-spring-green {
  background-color: #00FF7F;
}

.fg-spring-green {
  color: #00FF7F;
}

.bg-teal {
  background-color: #008080;
}

.fg-teal {
  color: #008080;
}

.bg-turquoise {
  background-color: #40E0D0;
}

.fg-turquoise {
  color: #40E0D0;
}

.bg-vegas-gold {
  background-color: #C4B454;
}

.fg-vegas-gold {
  color: #C4B454;
}

.bg-verdigris {
  background-color: #40B5AD;
}

.fg-verdigris {
  color: #40B5AD;
}

.bg-viridian {
  background-color: #40826D;
}

.fg-viridian {
  color: #40826D;
}

.bg-amber {
  background-color: #FFBF00;
}

.fg-amber {
  color: #FFBF00;
}

.bg-apricot {
  background-color: #FBCEB1;
}

.fg-apricot {
  color: #FBCEB1;
}

.bg-bisque {
  background-color: #F2D2BD;
}

.fg-bisque {
  color: #F2D2BD;
}

.bg-bright-orange {
  background-color: #FFAC1C;
}

.fg-bright-orange {
  color: #FFAC1C;
}

.bg-bronze {
  background-color: #CD7F32;
}

.fg-bronze {
  color: #CD7F32;
}

.bg-buff {
  background-color: #DAA06D;
}

.fg-buff {
  color: #DAA06D;
}

.bg-burnt-orange {
  background-color: #CC5500;
}

.fg-burnt-orange {
  color: #CC5500;
}

.bg-burnt-sienna {
  background-color: #E97451;
}

.fg-burnt-sienna {
  color: #E97451;
}

.bg-butterscotch {
  background-color: #E3963E;
}

.fg-butterscotch {
  color: #E3963E;
}

.bg-cadmium-orange {
  background-color: #F28C28;
}

.fg-cadmium-orange {
  color: #F28C28;
}

.bg-cinnamon {
  background-color: #D27D2D;
}

.fg-cinnamon {
  color: #D27D2D;
}

.bg-copper {
  background-color: #B87333;
}

.fg-copper {
  color: #B87333;
}

.bg-coral {
  background-color: #FF7F50;
}

.fg-coral {
  color: #FF7F50;
}

.bg-coral-pink {
  background-color: #F88379;
}

.fg-coral-pink {
  color: #F88379;
}

.bg-dark-orange {
  background-color: #8B4000;
}

.fg-dark-orange {
  color: #8B4000;
}

.bg-desert {
  background-color: #FAD5A5;
}

.fg-desert {
  color: #FAD5A5;
}

.bg-gamboge {
  background-color: #E49B0F;
}

.fg-gamboge {
  color: #E49B0F;
}

.bg-golden-yellow {
  background-color: #FFC000;
}

.fg-golden-yellow {
  color: #FFC000;
}

.bg-goldenrod {
  background-color: #DAA520;
}

.fg-goldenrod {
  color: #DAA520;
}

.bg-light-orange {
  background-color: #FFD580;
}

.fg-light-orange {
  color: #FFD580;
}

.bg-mahogany {
  background-color: #C04000;
}

.fg-mahogany {
  color: #C04000;
}

.bg-mango {
  background-color: #F4BB44;
}

.fg-mango {
  color: #F4BB44;
}

.bg-navajo-white {
  background-color: #FFDEAD;
}

.fg-navajo-white {
  color: #FFDEAD;
}

.bg-neon-orange {
  background-color: #FF5F1F;
}

.fg-neon-orange {
  color: #FF5F1F;
}

.bg-ochre {
  background-color: #CC7722;
}

.fg-ochre {
  color: #CC7722;
}

.bg-orange {
  background-color: #FFA500;
}

.fg-orange {
  color: #FFA500;
}

.bg-pastel-orange {
  background-color: #FAC898;
}

.fg-pastel-orange {
  color: #FAC898;
}

.bg-peach {
  background-color: #FFE5B4;
}

.fg-peach {
  color: #FFE5B4;
}

.bg-persimmon {
  background-color: #EC5800;
}

.fg-persimmon {
  color: #EC5800;
}

.bg-pink-orange {
  background-color: #F89880;
}

.fg-pink-orange {
  color: #F89880;
}

.bg-poppy {
  background-color: #E35335;
}

.fg-poppy {
  color: #E35335;
}

.bg-pumpkin-orange {
  background-color: #FF7518;
}

.fg-pumpkin-orange {
  color: #FF7518;
}

.bg-red-orange {
  background-color: #FF4433;
}

.fg-red-orange {
  color: #FF4433;
}

.bg-safety-orange {
  background-color: #FF5F15;
}

.fg-safety-orange {
  color: #FF5F15;
}

.bg-salmon {
  background-color: #FA8072;
}

.fg-salmon {
  color: #FA8072;
}

.bg-seashell {
  background-color: #FFF5EE;
}

.fg-seashell {
  color: #FFF5EE;
}

.bg-sienna {
  background-color: #A0522D;
}

.fg-sienna {
  color: #A0522D;
}

.bg-sunset-orange {
  background-color: #FA5F55;
}

.fg-sunset-orange {
  color: #FA5F55;
}

.bg-tangerine {
  background-color: #F08000;
}

.fg-tangerine {
  color: #F08000;
}

.bg-terra-cotta {
  background-color: #E3735E;
}

.fg-terra-cotta {
  color: #E3735E;
}

.bg-yellow-orange {
  background-color: #FFAA33;
}

.fg-yellow-orange {
  color: #FFAA33;
}

.bg-amaranth {
  background-color: #9F2B68;
}

.fg-amaranth {
  color: #9F2B68;
}

.bg-bisque {
  background-color: #F2D2BD;
}

.fg-bisque {
  color: #F2D2BD;
}

.bg-cerise {
  background-color: #DE3163;
}

.fg-cerise {
  color: #DE3163;
}

.bg-claret {
  background-color: #811331;
}

.fg-claret {
  color: #811331;
}

.bg-coral {
  background-color: #FF7F50;
}

.fg-coral {
  color: #FF7F50;
}

.bg-coral-pink {
  background-color: #F88379;
}

.fg-coral-pink {
  color: #F88379;
}

.bg-crimson {
  background-color: #DC143C;
}

.fg-crimson {
  color: #DC143C;
}

.bg-dark-pink {
  background-color: #AA336A;
}

.fg-dark-pink {
  color: #AA336A;
}

.bg-dusty-rose {
  background-color: #C9A9A6;
}

.fg-dusty-rose {
  color: #C9A9A6;
}

.bg-fuchsia {
  background-color: #FF00FF;
}

.fg-fuchsia {
  color: #FF00FF;
}

.bg-hot-pink {
  background-color: #FF69B4;
}

.fg-hot-pink {
  color: #FF69B4;
}

.bg-light-pink {
  background-color: #FFB6C1;
}

.fg-light-pink {
  color: #FFB6C1;
}

.bg-magenta {
  background-color: #FF00FF;
}

.fg-magenta {
  color: #FF00FF;
}

.bg-millennial-pink {
  background-color: #F3CFC6;
}

.fg-millennial-pink {
  color: #F3CFC6;
}

.bg-mulberry {
  background-color: #770737;
}

.fg-mulberry {
  color: #770737;
}

.bg-neon-pink {
  background-color: #FF10F0;
}

.fg-neon-pink {
  color: #FF10F0;
}

.bg-orchid {
  background-color: #DA70D6;
}

.fg-orchid {
  color: #DA70D6;
}

.bg-pastel-pink {
  background-color: #F8C8DC;
}

.fg-pastel-pink {
  color: #F8C8DC;
}

.bg-pastel-red {
  background-color: #FAA0A0;
}

.fg-pastel-red {
  color: #FAA0A0;
}

.bg-pink {
  background-color: #FFC0CB;
}

.fg-pink {
  color: #FFC0CB;
}

.bg-pink-orange {
  background-color: #F89880;
}

.fg-pink-orange {
  color: #F89880;
}

.bg-plum {
  background-color: #673147;
}

.fg-plum {
  color: #673147;
}

.bg-puce {
  background-color: #A95C68;
}

.fg-puce {
  color: #A95C68;
}

.bg-purple {
  background-color: #800080;
}

.fg-purple {
  color: #800080;
}

.bg-raspberry {
  background-color: #E30B5C;
}

.fg-raspberry {
  color: #E30B5C;
}

.bg-red-purple {
  background-color: #953553;
}

.fg-red-purple {
  color: #953553;
}

.bg-rose {
  background-color: #F33A6A;
}

.fg-rose {
  color: #F33A6A;
}

.bg-rose-gold {
  background-color: #E0BFB8;
}

.fg-rose-gold {
  color: #E0BFB8;
}

.bg-rose-red {
  background-color: #C21E56;
}

.fg-rose-red {
  color: #C21E56;
}

.bg-ruby-red {
  background-color: #E0115F;
}

.fg-ruby-red {
  color: #E0115F;
}

.bg-salmon {
  background-color: #FA8072;
}

.fg-salmon {
  color: #FA8072;
}

.bg-seashell {
  background-color: #FFF5EE;
}

.fg-seashell {
  color: #FFF5EE;
}

.bg-thistle {
  background-color: #D8BFD8;
}

.fg-thistle {
  color: #D8BFD8;
}

.bg-watermelon-pink {
  background-color: #E37383;
}

.fg-watermelon-pink {
  color: #E37383;
}

.bg-amaranth {
  background-color: #9F2B68;
}

.fg-amaranth {
  color: #9F2B68;
}

.bg-bright-purple {
  background-color: #BF40BF;
}

.fg-bright-purple {
  color: #BF40BF;
}

.bg-burgundy {
  background-color: #800020;
}

.fg-burgundy {
  color: #800020;
}

.bg-byzantium {
  background-color: #702963;
}

.fg-byzantium {
  color: #702963;
}

.bg-dark-pink {
  background-color: #AA336A;
}

.fg-dark-pink {
  color: #AA336A;
}

.bg-dark-purple {
  background-color: #301934;
}

.fg-dark-purple {
  color: #301934;
}

.bg-eggplant {
  background-color: #483248;
}

.fg-eggplant {
  color: #483248;
}

.bg-iris {
  background-color: #5D3FD3;
}

.fg-iris {
  color: #5D3FD3;
}

.bg-lavender {
  background-color: #E6E6FA;
}

.fg-lavender {
  color: #E6E6FA;
}

.bg-light-purple {
  background-color: #CBC3E3;
}

.fg-light-purple {
  color: #CBC3E3;
}

.bg-light-violet {
  background-color: #CF9FFF;
}

.fg-light-violet {
  color: #CF9FFF;
}

.bg-lilac {
  background-color: #AA98A9;
}

.fg-lilac {
  color: #AA98A9;
}

.bg-mauve {
  background-color: #E0B0FF;
}

.fg-mauve {
  color: #E0B0FF;
}

.bg-mauve-taupe {
  background-color: #915F6D;
}

.fg-mauve-taupe {
  color: #915F6D;
}

.bg-mulberry {
  background-color: #770737;
}

.fg-mulberry {
  color: #770737;
}

.bg-orchid {
  background-color: #DA70D6;
}

.fg-orchid {
  color: #DA70D6;
}

.bg-pastel-purple {
  background-color: #C3B1E1;
}

.fg-pastel-purple {
  color: #C3B1E1;
}

.bg-periwinkle {
  background-color: #CCCCFF;
}

.fg-periwinkle {
  color: #CCCCFF;
}

.bg-plum {
  background-color: #673147;
}

.fg-plum {
  color: #673147;
}

.bg-puce {
  background-color: #A95C68;
}

.fg-puce {
  color: #A95C68;
}

.bg-purple {
  background-color: #800080;
}

.fg-purple {
  color: #800080;
}

.bg-quartz {
  background-color: #51414F;
}

.fg-quartz {
  color: #51414F;
}

.bg-red-purple {
  background-color: #953553;
}

.fg-red-purple {
  color: #953553;
}

.bg-thistle {
  background-color: #D8BFD8;
}

.fg-thistle {
  color: #D8BFD8;
}

.bg-tyrian-purple {
  background-color: #630330;
}

.fg-tyrian-purple {
  color: #630330;
}

.bg-violet {
  background-color: #7F00FF;
}

.fg-violet {
  color: #7F00FF;
}

.bg-wine {
  background-color: #722F37;
}

.fg-wine {
  color: #722F37;
}

.bg-wisteria {
  background-color: #BDB5D5;
}

.fg-wisteria {
  color: #BDB5D5;
}

.bg-blood-red {
  background-color: #880808;
}

.fg-blood-red {
  color: #880808;
}

.bg-brick-red {
  background-color: #AA4A44;
}

.fg-brick-red {
  color: #AA4A44;
}

.bg-bright-red {
  background-color: #EE4B2B;
}

.fg-bright-red {
  color: #EE4B2B;
}

.bg-brown {
  background-color: #A52A2A;
}

.fg-brown {
  color: #A52A2A;
}

.bg-burgundy {
  background-color: #800020;
}

.fg-burgundy {
  color: #800020;
}

.bg-burnt-umber {
  background-color: #6E260E;
}

.fg-burnt-umber {
  color: #6E260E;
}

.bg-burnt-orange {
  background-color: #CC5500;
}

.fg-burnt-orange {
  color: #CC5500;
}

.bg-burnt-sienna {
  background-color: #E97451;
}

.fg-burnt-sienna {
  color: #E97451;
}

.bg-byzantium {
  background-color: #702963;
}

.fg-byzantium {
  color: #702963;
}

.bg-cadmium-red {
  background-color: #D22B2B;
}

.fg-cadmium-red {
  color: #D22B2B;
}

.bg-cardinal-red {
  background-color: #C41E3A;
}

.fg-cardinal-red {
  color: #C41E3A;
}

.bg-carmine {
  background-color: #D70040;
}

.fg-carmine {
  color: #D70040;
}

.bg-cerise {
  background-color: #DE3163;
}

.fg-cerise {
  color: #DE3163;
}

.bg-cherry {
  background-color: #D2042D;
}

.fg-cherry {
  color: #D2042D;
}

.bg-chestnut {
  background-color: #954535;
}

.fg-chestnut {
  color: #954535;
}

.bg-claret {
  background-color: #811331;
}

.fg-claret {
  color: #811331;
}

.bg-coral-pink {
  background-color: #F88379;
}

.fg-coral-pink {
  color: #F88379;
}

.bg-cordovan {
  background-color: #814141;
}

.fg-cordovan {
  color: #814141;
}

.bg-crimson {
  background-color: #DC143C;
}

.fg-crimson {
  color: #DC143C;
}

.bg-dark-red {
  background-color: #8B0000;
}

.fg-dark-red {
  color: #8B0000;
}

.bg-falu-red {
  background-color: #7B1818;
}

.fg-falu-red {
  color: #7B1818;
}

.bg-garnet {
  background-color: #9A2A2A;
}

.fg-garnet {
  color: #9A2A2A;
}

.bg-mahogany {
  background-color: #C04000;
}

.fg-mahogany {
  color: #C04000;
}

.bg-maroon {
  background-color: #800000;
}

.fg-maroon {
  color: #800000;
}

.bg-marsala {
  background-color: #986868;
}

.fg-marsala {
  color: #986868;
}

.bg-mulberry {
  background-color: #770737;
}

.fg-mulberry {
  color: #770737;
}

.bg-neon-red {
  background-color: #FF3131;
}

.fg-neon-red {
  color: #FF3131;
}

.bg-oxblood {
  background-color: #4A0404;
}

.fg-oxblood {
  color: #4A0404;
}

.bg-pastel-red {
  background-color: #FAA0A0;
}

.fg-pastel-red {
  color: #FAA0A0;
}

.bg-persimmon {
  background-color: #EC5800;
}

.fg-persimmon {
  color: #EC5800;
}

.bg-poppy {
  background-color: #E35335;
}

.fg-poppy {
  color: #E35335;
}

.bg-puce {
  background-color: #A95C68;
}

.fg-puce {
  color: #A95C68;
}

.bg-raspberry {
  background-color: #E30B5C;
}

.fg-raspberry {
  color: #E30B5C;
}

.bg-red {
  background-color: #FF0000;
}

.fg-red {
  color: #FF0000;
}

.bg-red-brown {
  background-color: #A52A2A;
}

.fg-red-brown {
  color: #A52A2A;
}

.bg-red-ochre {
  background-color: #913831;
}

.fg-red-ochre {
  color: #913831;
}

.bg-red-orange {
  background-color: #FF4433;
}

.fg-red-orange {
  color: #FF4433;
}

.bg-red-purple {
  background-color: #953553;
}

.fg-red-purple {
  color: #953553;
}

.bg-rose-red {
  background-color: #C21E56;
}

.fg-rose-red {
  color: #C21E56;
}

.bg-ruby-red {
  background-color: #E0115F;
}

.fg-ruby-red {
  color: #E0115F;
}

.bg-russet {
  background-color: #80461B;
}

.fg-russet {
  color: #80461B;
}

.bg-salmon {
  background-color: #FA8072;
}

.fg-salmon {
  color: #FA8072;
}

.bg-scarlet {
  background-color: #FF2400;
}

.fg-scarlet {
  color: #FF2400;
}

.bg-sunset-orange {
  background-color: #FA5F55;
}

.fg-sunset-orange {
  color: #FA5F55;
}

.bg-terra-cotta {
  background-color: #E3735E;
}

.fg-terra-cotta {
  color: #E3735E;
}

.bg-tuscan-red {
  background-color: #7C3030;
}

.fg-tuscan-red {
  color: #7C3030;
}

.bg-tyrian-purple {
  background-color: #630330;
}

.fg-tyrian-purple {
  color: #630330;
}

.bg-venetian-red {
  background-color: #A42A04;
}

.fg-venetian-red {
  color: #A42A04;
}

.bg-vermilion {
  background-color: #E34234;
}

.fg-vermilion {
  color: #E34234;
}

.bg-wine {
  background-color: #722F37;
}

.fg-wine {
  color: #722F37;
}

.bg-alabaster {
  background-color: #EDEADE;
}

.fg-alabaster {
  color: #EDEADE;
}

.bg-beige {
  background-color: #F5F5DC;
}

.fg-beige {
  color: #F5F5DC;
}

.bg-bone-white {
  background-color: #F9F6EE;
}

.fg-bone-white {
  color: #F9F6EE;
}

.bg-cornsilk {
  background-color: #FFF8DC;
}

.fg-cornsilk {
  color: #FFF8DC;
}

.bg-cream {
  background-color: #FFFDD0;
}

.fg-cream {
  color: #FFFDD0;
}

.bg-eggshell {
  background-color: #F0EAD6;
}

.fg-eggshell {
  color: #F0EAD6;
}

.bg-ivory {
  background-color: #FFFFF0;
}

.fg-ivory {
  color: #FFFFF0;
}

.bg-linen {
  background-color: #E9DCC9;
}

.fg-linen {
  color: #E9DCC9;
}

.bg-navajo-white {
  background-color: #FFDEAD;
}

.fg-navajo-white {
  color: #FFDEAD;
}

.bg-off-white {
  background-color: #FAF9F6;
}

.fg-off-white {
  color: #FAF9F6;
}

.bg-parchment {
  background-color: #FCF5E5;
}

.fg-parchment {
  color: #FCF5E5;
}

.bg-peach {
  background-color: #FFE5B4;
}

.fg-peach {
  color: #FFE5B4;
}

.bg-pearl {
  background-color: #E2DFD2;
}

.fg-pearl {
  color: #E2DFD2;
}

.bg-seashell {
  background-color: #FFF5EE;
}

.fg-seashell {
  color: #FFF5EE;
}

.bg-vanilla {
  background-color: #F3E5AB;
}

.fg-vanilla {
  color: #F3E5AB;
}

.bg-white {
  background-color: #FFFFFF;
}

.fg-white {
  color: #FFFFFF;
}

/*# sourceMappingURL=style.css.map */
